button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, transform 0.3s;
}

button:hover {
    background-color: red;
    transform: scale(1.1);
}

/* Define an animation to make an image bounce */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.animated-image {
    animation: bounce 1s ease infinite;
}
